html, body, #app{
    height: 100%;
    margin: 0;
}

#app{
    display: flex;
    /* flex-direction: row-reverse; */
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}

.box{
    width: 400px;
    height: 60px;
    background: red;
    margin: 5px;
    /* flex-shrink: 0; */
}